oldies
*.tar.gz

src
nlp/wapiti
nlp/gkseg
*pyc
*~
*.*~

log
*.log

toolbox
miner/gkseg
miner/pyner
miner/corpus

lib/jsonviewer
out
data/datazip
data/*.csv
data/tmp
data/clean
data/train
data

*.png
*.pdf
*.sublime*

doc/.ipynb_checkpoints
.ipynb_checkpoints/
results